* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

.barra {
    background-color: rebeccapurple;
    height: 80px;
    display: flex;
}

.barra a {
    margin-top: 20px;
    font-size: 40px;
    height: 50px;
}

.barra img {
    width: 90px;
    height: 80px;
    margin-left: 10px;
}

.tittle {
    background-color: #c2c2c262;
    height: 100px;
}

.calc {
    margin: 60px;
    padding: 60px;
    background-color: #c2c2c262;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}
.calc h1 {
    position: absolute;
    top: 250px;
}
.line1 {
    display: flex;
    gap: 20px;
}
.line2 {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.calcalcool {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}


.calcalcool h4 {
    margin-left: 20px;
}
.calcalcool img {
    width: 60px;
    height: 60px;
    margin: 30px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}

.gasosaconsumo {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}

.gasosaconsumo h4 {
    margin-left: 20px;
    
}
.gasosaconsumo img {
    width: 60px;
    height: 60px;
    margin: 30px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    height: 200px;
}

.compjuros {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}

.compjuros h4 {
    margin-left: 20px;
    
}
.compjuros img {
    width: 60px;
    height: 60px;
    margin: 30px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}

.simp_juros {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}

.simp_juros h4 {
    margin-left: 20px;
}
.simp_juros img {
    width: 60px;
    height: 60px;
    margin: 30px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}
.comp_juros_mensal {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}

.comp_juros_mensal h4 {
    margin-left: 20px;
}
.comp_juros_mensal img {
    width: 60px;
    height: 60px;
    margin: 30px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}
.juros_simp_mensal {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}

.juros_simp_mensal h4 {
    margin-left: 20px;
}
.juros_simp_mensal img {
    width: 60px;
    height: 60px;
    margin: 30px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}
.calcinss {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}

.calcinss h4 {
    margin-left: 20px;
}
.calcinss img {
    width: 60px;
    height: 60px;
    margin: 30px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}

.pricecalc {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}

.pricecalc h4 {
    margin-left: 20px;
}
.pricecalc img {
    width: 60px;
    height: 60px;
    margin: 30px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}
.saccalc {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}

.saccalc h4 {
    margin-left: 20px;
}
.saccalc img {
    width: 60px;
    height: 60px;
    margin: 30px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}


.imobcalc {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}

.imobcalc h4 {
    margin-left: 40px;
}
.imobcalc img {
    width: 60px;
    height: 60px;
    margin: 20px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}
.fgtssaqueaniversario {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}
.fgtssaqueaniversario h4 {
    margin-left: 20px;
}
.fgtssaqueaniversario img {
    width: 60px;
    height: 60px;
    margin: 20px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}
.saldofgts {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}
.saldofgts h4 {
    margin-left: 20px;
}
.saldofgts img {
    width: 60px;
    height: 60px;
    margin: 20px 60px;
    background-color: #575656;
    border-radius: 20px;
    padding: 10px;
}

.barra_de_calculo {
    margin: 60px;
    padding: 60px;
    background-color: #c2c2c262;
    border-radius: 20px;
    border: solid rebeccapurple 2px;
}
input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: solid rebeccapurple 2px;
    
}
button  {
    color: black;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: solid rebeccapurple 2px;
    
}
.descricao {
    margin-top: 100px;
    font-size: 25px
    
    
}
.descricaofgts {
    margin-top: 100px;
    font-size: 25px;
}